In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
import names

In [2]:
# Loading DF

df = pd.read_excel(r"E:\Data Science\data set\global_superstore_2016.xlsx")

df.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544,40.77,High
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical

In [3]:
# Checking column names in DF

df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Postal Code', 'City',
       'State', 'Country', 'Region', 'Market', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority'],
      dtype='object')

In [7]:
df.dtypes

Row ID                     int64
Order ID                  object
Order Date        datetime64[ns]
Ship Date         datetime64[ns]
Ship Mode                 object
Customer ID               object
Customer Name             object
Segment                   object
Postal Code              float64
City                      object
State                     object
Country                   object
Region                    object
Market                    object
Product ID                object
Category                  object
Sub-Category              object
Product Name              object
Sales                    float64
Quantity                   int64
Discount                 float64
Profit                   float64
Shipping Cost            float64
Order Priority            object
dtype: object

In [11]:
df["Sub-Category"]

0             Phones
1             Chairs
2             Phones
3             Phones
4            Copiers
            ...
51285      Fasteners
51286    Furnishings
51287            Art
51288        Binders
51289          Paper
Name: Sub-Category, Length: 51290, dtype: object

In [12]:
df["Sub-Category"].nunique()    

# Checking how many unique values we have or how many sub-categoreis we have

17

### I want to find Top 10 Sub-Category by Sum by Profit

In [14]:
# STEP 1


df.groupby("Sub-Category")["Profit"].sum()


# groupby --> subcategory --> on the basis of sum of profit

Sub-Category
Accessories    129626.30620
Appliances     141562.58770
Art             57829.85930
Binders         72433.15160
Bookcases      161924.41950
Chairs         140396.26750
Copiers        258567.54818
Envelopes       28849.48730
Fasteners       13844.28890
Furnishings     46845.43190
Labels          14988.92370
Machines        58867.87300
Paper           58111.65350
Phones         216717.00580
Storage        108416.68060
Supplies        22559.19530
Tables         -64083.38870
Name: Profit, dtype: float64

In [15]:
# here we got all subcategory sum of profit

# this is not sorted & and we want only top 10 subcategory

In [16]:
# STEP 2


# Sorting all sub-category in decsending order

df.groupby("Sub-Category")["Profit"].sum().sort_values(ascending  = False)

Sub-Category
Copiers        258567.54818
Phones         216717.00580
Bookcases      161924.41950
Appliances     141562.58770
Chairs         140396.26750
Accessories    129626.30620
Storage        108416.68060
Binders         72433.15160
Machines        58867.87300
Paper           58111.65350
Art             57829.85930
Furnishings     46845.43190
Envelopes       28849.48730
Supplies        22559.19530
Labels          14988.92370
Fasteners       13844.28890
Tables         -64083.38870
Name: Profit, dtype: float64

In [19]:
# STEP 3

# Sorting all sub-category in decsending order and fetching top 10 

top_10 = df.groupby("Sub-Category")["Profit"].sum().sort_values(ascending  = False)[:10]

top_10

Sub-Category
Copiers        258567.54818
Phones         216717.00580
Bookcases      161924.41950
Appliances     141562.58770
Chairs         140396.26750
Accessories    129626.30620
Storage        108416.68060
Binders         72433.15160
Machines        58867.87300
Paper           58111.65350
Name: Profit, dtype: float64